<!DOCTYPE html>
<html>
<%- include('../_partials/head.ejs') %>
<body>
<%- include('../_partials/header.ejs', { title: "Image Credits" }) %>
<main>

<p>All images are from <a href="https://unsplash.com/license">Unsplash</a>.</p>

<h2>Jam Images</h2>
<ul>
<li><a href="https://unsplash.com/photos/imTYg9Kt6s0">https://unsplash.com/photos/imTYg9Kt6s0</a> - Malik Skydsgaard</li>
<li><a href="https://unsplash.com/photos/9RGPG_ksS3Q">https://unsplash.com/photos/9RGPG_ksS3Q</a> - Calum Lewis</li>
<li><a href="https://unsplash.com/photos/0ZGzu8J69kY">https://unsplash.com/photos/0ZGzu8J69kY</a> - Fernando Andrade</li>
<li><a href="https://unsplash.com/photos/RHYap58QKq4">https://unsplash.com/photos/RHYap58QKq4</a> - Keri Titley</li>
<li><a href="https://unsplash.com/photos/4hQaZN5a1Xc">https://unsplash.com/photos/4hQaZN5a1Xc</a> - Lucinda Hershberger</li>
<li><a href="https://unsplash.com/photos/c69HK1HKHYs">https://unsplash.com/photos/c69HK1HKHYs</a> - Jonathan Pielmayer</li>
<li><a href="https://unsplash.com/photos/5mGGOWD-Ths">https://unsplash.com/photos/5mGGOWD-Ths</a> - Viktor Forgacs</li>
<li><a href="https://unsplash.com/photos/o_O75f28GiA">https://unsplash.com/photos/o_O75f28GiA</a> - Yulia Khlebnikova</li>
<li><a href="https://unsplash.com/photos/zG_Mm1XS25I">https://unsplash.com/photos/zG_Mm1XS25I</a> - Barbara Chowaniec</li>
<li><a href="https://unsplash.com/photos/1l9Xl2B627g">https://unsplash.com/photos/1l9Xl2B627g</a> - Maria Petersson</li>
<li><a href="https://unsplash.com/photos/F8fIG15-Iew">https://unsplash.com/photos/F8fIG15-Iew</a> - Mateusz Feliksik</li>
<li><a href="https://unsplash.com/photos/3PUMvqo2coA">https://unsplash.com/photos/3PUMvqo2coA</a> - Nicolás Flor</li>
<li><a href="https://unsplash.com/photos/Bn4FIs250dY">https://unsplash.com/photos/Bn4FIs250dY</a> - Monika Grabkowska</li>
<li><a href="https://unsplash.com/photos/SWyfzICySco">https://unsplash.com/photos/SWyfzICySco</a> - micheile dot com</li>
<li><a href="https://unsplash.com/photos/NuZDBEeY2PQ">https://unsplash.com/photos/NuZDBEeY2PQ</a> - jonathan ocampo</li>
<li><a href="https://unsplash.com/photos/pESI75iiZd4">https://unsplash.com/photos/pESI75iiZd4</a> - Frame Harirak</li>
<li><a href="https://unsplash.com/photos/QDlbyX2Ht24">https://unsplash.com/photos/QDlbyX2Ht24</a> - Monika Grabkowska</li>
<li><a href="https://unsplash.com/photos/N16iTD8g2s0">https://unsplash.com/photos/N16iTD8g2s0</a> - Natural Chef Carolyn Nicholas</li>
<li><a href="https://unsplash.com/photos/I35_JP2Stwg">https://unsplash.com/photos/I35_JP2Stwg</a> - Marian Hearne</li>
<li><a href="https://unsplash.com/photos/kp9UVn-PUac">https://unsplash.com/photos/kp9UVn-PUac</a> - Roberta Sorge</li>
</ul>

<h2>Cake Images</h2>
<ul>
<li><a href="https://unsplash.com/photos/cZFU60dKB6U">https://unsplash.com/photos/cZFU60dKB6U</a> - amirali mirhashemian</li>
<li><a href="https://unsplash.com/photos/nXKWLn8y9qE">https://unsplash.com/photos/nXKWLn8y9qE</a> - Bryam Blanco</li>
<li><a href="https://unsplash.com/photos/ozpbV6uJp-o">https://unsplash.com/photos/ozpbV6uJp-o</a> - David Holifield</li>
<li><a href="https://unsplash.com/photos/51AhxwkYyHo">https://unsplash.com/photos/51AhxwkYyHo</a> - Viktor Forgacs</li>
<li><a href="https://unsplash.com/photos/cMhAZqjfE2w">https://unsplash.com/photos/cMhAZqjfE2w</a> - Siami Tan</li>
<li><a href="https://unsplash.com/photos/GQvNc4bDRYw">https://unsplash.com/photos/GQvNc4bDRYw</a> - Anirban Sengupta</li>
<li><a href="https://unsplash.com/photos/qrDbj7OV2EU">https://unsplash.com/photos/qrDbj7OV2EU</a> - aliet kitchen</li>
<li><a href="https://unsplash.com/photos/KXaQhW39xyc">https://unsplash.com/photos/KXaQhW39xyc</a> - Massimo Adami</li>
<li><a href="https://unsplash.com/photos/-DUN-_bTO2Q">https://unsplash.com/photos/-DUN-_bTO2Q</a> - Aditya Joshi</li>
<li><a href="https://unsplash.com/photos/QX814A1w3j4">https://unsplash.com/photos/QX814A1w3j4</a> - Gaby Dyson</li>
<li><a href="https://unsplash.com/photos/vinGM9Xe_sU">https://unsplash.com/photos/vinGM9Xe_sU</a> - Élisabeth Joly</li>
<li><a href="https://unsplash.com/photos/d_QnWli2BA8">https://unsplash.com/photos/d_QnWli2BA8</a> - Anansit Angsooksiri</li>
<li><a href="https://unsplash.com/photos/6pytRvgJ4BY">https://unsplash.com/photos/6pytRvgJ4BY</a> - Elle inlom</li>
<li><a href="https://unsplash.com/photos/9IW9vsM0vz8">https://unsplash.com/photos/9IW9vsM0vz8</a> - sheri silver</li>
<li><a href="https://unsplash.com/photos/u95_MqFUaQg">https://unsplash.com/photos/u95_MqFUaQg</a> - Alexandra Khudyntseva</li>
<li><a href="https://unsplash.com/photos/l-paVYNvewQ">https://unsplash.com/photos/l-paVYNvewQ</a> - Sara Dubler</li>
</ul>

<h2>Candy Images</h2>
<ul>
<li><a href="https://unsplash.com/photos/aXq1oCCjlVM">https://unsplash.com/photos/aXq1oCCjlVM</a> - Customerbox</li>
<li><a href="https://unsplash.com/photos/33taMhUiF0I">https://unsplash.com/photos/33taMhUiF0I</a> - Towfiqu barbhuiya</li>
<li><a href="https://unsplash.com/photos/9IBqihqhuHc">https://unsplash.com/photos/9IBqihqhuHc</a> - Greyson Joralemon</li>
<li><a href="https://unsplash.com/photos/tyL5dA1nYRU">https://unsplash.com/photos/tyL5dA1nYRU</a> - Glen Carrie</li>
<li><a href="https://unsplash.com/photos/WLo9PkfUwHA">https://unsplash.com/photos/WLo9PkfUwHA</a> - J. Kelly Brito</li>
<li><a href="https://unsplash.com/photos/m1GT6GADQLA">https://unsplash.com/photos/m1GT6GADQLA</a> - Gurble Tan</li>
<li><a href="https://unsplash.com/photos/3NTHJMeG4p8">https://unsplash.com/photos/3NTHJMeG4p8</a> - Mary Jane Duford</li>
<li><a href="https://unsplash.com/photos/OJ5daDcJuf4">https://unsplash.com/photos/OJ5daDcJuf4</a> - Caspar Rae</li>
<li><a href="https://unsplash.com/photos/02EFKK068T0">https://unsplash.com/photos/02EFKK068T0</a> - Alexander Schimmeck</li>
<li><a href="https://unsplash.com/photos/NCcWaZp75P8">https://unsplash.com/photos/NCcWaZp75P8</a> - Ylanite Koppens</li>
<li><a href="https://unsplash.com/photos/uZjF45POZP4">https://unsplash.com/photos/uZjF45POZP4</a> - Brooke Lark</li>
<li><a href="https://unsplash.com/photos/LU_fCezP9-o">https://unsplash.com/photos/LU_fCezP9-o</a> - Amit Lahav</li>
<li><a href="https://unsplash.com/photos/3t07n27XK-w">https://unsplash.com/photos/3t07n27XK-w</a> - Amit Lahav</li>
<li><a href="https://unsplash.com/photos/FYNs98upHrA">https://unsplash.com/photos/FYNs98upHrA</a> - JACQUELINE BRANDWAYN</li>
<li><a href="https://unsplash.com/photos/8XkNFQG_cgk">https://unsplash.com/photos/8XkNFQG_cgk</a> - Sharon McCutcheon</li>
<li><a href="https://unsplash.com/photos/PL5FZkW0Qkk">https://unsplash.com/photos/PL5FZkW0Qkk</a> - Karsten Winegeart</li>
<li><a href="https://unsplash.com/photos/V4Kx2NoZ3dE">https://unsplash.com/photos/V4Kx2NoZ3dE</a> - Towfiqu barbhuiya</li>
<li><a href="https://unsplash.com/photos/iBv4UUvKlb4">https://unsplash.com/photos/iBv4UUvKlb4</a> - Karsten Winegeart</li>
<li><a href="https://unsplash.com/photos/dFC80hmTOoE">https://unsplash.com/photos/dFC80hmTOoE</a> - Taylor Rooney</li>
<li><a href="https://unsplash.com/photos/AFjGrDq9VkI">https://unsplash.com/photos/AFjGrDq9VkI</a> - Nora Topicals</li>
<li><a href="https://unsplash.com/photos/1wz7cN1XTmk">https://unsplash.com/photos/1wz7cN1XTmk</a> - Sharon McCutcheon</li>
<li><a href="https://unsplash.com/photos/TktTsjgSrGY">https://unsplash.com/photos/TktTsjgSrGY</a> - Jene Yeo</li>
<li><a href="https://unsplash.com/photos/Y4XoECAaXLw">https://unsplash.com/photos/Y4XoECAaXLw</a> - Larisa Birta</li>
<li><a href="https://unsplash.com/photos/j07KEb81xa4">https://unsplash.com/photos/j07KEb81xa4</a> - June Gathercole</li>
</ul>
</main>

<%- include('../_partials/footer.ejs') %>
</body>
</html>
