<div id="gallery">
    <% images.forEach(function(image) { %>
    <div class="gallery-cell" style="background-image: url(<%= step.image_url(image, 'thumb', config) %>);">
        <img src="<%= step.image_url(image, 'public', config) %>" class="large">
    </div>
    <% }); %>
</div>

<div id="fullimg">
    <em></em>
    <div class="details"></div>
    <img />
    <a href="#">Close</a>
</div>

<script>
    (function () {

        const gallery = document.querySelector("#gallery");

        <% if(locals.fetchList) { %>
            const makeImageHTML = (image) => `
            <div class="gallery-cell" style="background-image: url(${image["thumb"]})">
                <img src="${image["public"]}" class="large">
            </div>
            `;
            fetch("https://interactive-gallery.confiture.workers.dev/")
                .then(res => res.json())
                .then(res => res.map(image => makeImageHTML(image)).join("\n"))
                .then(galleryHTML => gallery.innerHTML = galleryHTML)
                .then(() => initGallery())
                .catch(err => console.error(err));
        <% } else { %>
            initGallery();
        <% } %>

        function initGallery() {
            const img = document.querySelector("#fullimg img");
            img.addEventListener("load", function() {
                document.querySelector("#fullimg .details").innerHTML = "Real size: " + img.naturalWidth + "x" + img.naturalHeight + "; display size: " + img.clientWidth + "x" + img.clientHeight;
            });

            const openFull = (cell) => {
                const large_img_src = cell.querySelector("img.large").src;
                img.src = large_img_src;
                document.querySelector("#fullimg em").innerHTML = '<a href="' + large_img_src + '" target="_blank">' + decodeURI(large_img_src) + '</a>';
                document.querySelector("#fullimg").style.display = "block";
                gallery.style.display = "none";
            };

            const closeFull = () => {
                document.querySelector("#fullimg").style.display = "none";
                gallery.style.display = "block";
                document.querySelector("#fullimg .details").innerHTML = "&nbsp;";
            }

            document.querySelectorAll("#gallery .gallery-cell").forEach(img => {
                img.addEventListener("click", () => openFull(img));
            });

            document.querySelectorAll("#fullimg a, #fullimg img").forEach(o => {
                o.addEventListener("click", () => closeFull());
            });
        }
    })();
</script>